{% extends 'base.html.twig' %}

{% block title %}Liste des Stagiaires{% endblock %}

{% block stylesheets %}
{{ parent()}}
    <link rel="stylesheet" href="{{ asset('css/templateCSS/stagiaire/stagiaire.css') }}">
{% endblock %}

{% block body %}

    {# messazge pour l'ajout d'un stgaiire #}
    {% for message in app.flashes('success') %}
    <div class="success-message"> {{ message }} </div>
    {% endfor %}

    {# message pour la bonne suppresion d'un stagiaire#}
    {% for message in app.flashes('success-remove-stagiaire') %}
    <div class="success-remove-stagiaire"> {{ message }} </div>
    {% endfor %}

        <h2>LES STAGIAIRES</h2>
        {% for stagiaire in stagiaires %}
            <div class="containerStagiaire">
                <a class="stagiaire" href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">{{ stagiaire}}</a>
                <a class="delete" href="{{ path('remove_stagiaire', {'id': stagiaire.id}) }}"><i class="fa-solid fa-delete-left"></i></a>
            </div>
        {% endfor %}


{% endblock %}
