{% extends 'base.html.twig' %}

{% block title %}Liste des Sessions{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('css/templateCSS/session/session.css') }}">
{% endblock %}

{% block body %}

{% for message in app.flashes('succes-addSession') %}
        <div class="succes-addSession">
            {{ message }}
        </div>
        {% endfor %}
    <div class="title">
        <h1>Liste des Sessions</h1> <a href="{{ path('add_session')}}">Ajouter une session <i class="fa-solid fa-circle-plus"></i></a>
    </div> 

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Nombre de places</th>
                <th>Places réservées</th>
                <th>Nombre de places restantes</th>
                <th>Détails programme</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
                <tr>
                    <td>{{ session.nom }}</td>
                    <td>{{ session.dateDebut|date("d-m-Y") }}</td>
                    <td>{{ session.dateFin|date("d-m-Y") }}</td>
                    <td>{{ session.nbrePlace }}</td>
                    <td>{{ session.getNbrePlacesReservees() }}</td>
                    <td>{{ session.getNbrePlacesRestantes() }}</td>
                    <td><a href="{{ path('show_session', {'id':session.id})}}"><i class="fa-regular fa-rectangle-list"></a></i></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
