{% extends 'base.html.twig' %}

{% block title %}Liste des Sessions{% endblock %}

{% block body %}


<h1>Session {{ session.nom }}</h1>
<table>
    <thead>
        <tr>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Nombre de places</th>
            <th>Places réservées</th>
            <th>Nombre de places restantes</th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>{{ session.dateDebut|date("d-m-Y") }}</td>
            <td>{{ session.dateFin|date("d-m-Y") }}</td>
            <td>{{ session.nbrePlace }}</td>
            <td>{{ session.getNbrePlacesReservees() }}</td>
            <td>{{ session.getNbrePlacesRestantes() }}</td>
            
        </tbody>
    </table>


    <div class="stagiaire">
        <div class="stagiaireInscrit">
          {% for message in app.flashes('success-message') %}
            {{ message }}
          {% endfor %}
          {% for message in app.flashes('error-message') %}
            {{ message }}
          {% endfor %}

            <h2>La liste des stagiaires inscrits</h2>
            {% for stagiaire in session.stagiaires %}
                {{ stagiaire }} <a href="{{ path('remove_stagiaire', {'session': session.id, 'stagiaire': stagiaire.id}) }}">Désinscrire</a> <br>
            {% endfor %}
        </div>
        <div class="stagiaireNonInscrit">
            <h2>La liste des non inscrit</h3>
                {% if session.stagiaires | length == session.nbrePlace %}
                    <p>Plus de place disponible</p>
                    {% else %}
                        {% for stagiaire in nonInscrits %}
                            {{ stagiaire }}
                                <a href="{{ path('add_stagiaire', {'session': session.id, 'stagiaire': stagiaire.id}) }}">
                                    <strong>Ajouter</strong>
                                </a> <br>
                    {% endfor %}
                {% endif %}
        
        </div>
    </div> <br> <br>


    <div class="module">
        <div class="modulePresent">
            <h2>Les modules présent</h2>
            {% for programme in session.programmes %}
                {{ programme.module.intitulee }} dure {{ programme.nbJours }} jours <br>
            {% endfor %}
        </div>
        <div class="moduleDispo">
            <h2>Tout les modules disponibles</h2>
            {% for module in moduleDispo %}
                {{ module.intitulee}}
            {% endfor %}
        </div>
    </div>


{% endblock %}