{% extends 'base.html.twig' %}

{% block title %}Liste des Sessions{% endblock %}

{% block body %}


<h1>Session {{ session.nom }}</h1>
<table>
    <thead>
        <tr>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Nombre de places</th>
            <th>Places réservées</th>
            <th>Nombre de places restantes</th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>{{ session.dateDebut|date("d-m-Y") }}</td>
            <td>{{ session.dateFin|date("d-m-Y") }}</td>
            <td>{{ session.nbrePlace }}</td>
            <td>{{ session.getNbrePlacesReservees() }}</td>
            <td>{{ session.getNbrePlacesRestantes() }}</td>
            
        </tbody>
    </table>

        {% for message in app.flashes('success-message') %}
            <div class="success-message">
                {{ message }}
            </div>
        {% endfor %}
    <div class="stagiaire">
        <div class="stagiaireInscrit">
            <h2>La liste des stagiaires inscrits</h2>
            {% for stagiaire in session.stagiaires %}
                {{ stagiaire.nom }} {{ stagiaire.prenom }}
                <form method="post" action="{{ path('show_session', { 'id': session.id }) }}">
                    <input type="hidden" name="stagiaire_id" value="{{ stagiaire.id }}">
                    <input type="hidden" name="action" value="desinscrire"> <!-- Champ d'action pour la désinscription -->
                    <button type="submit">Désinscrire</button>
                </form>
                <br>
            {% endfor %}
        </div>
        <div class="stagiaireNonInscrit">
            <h2>La liste des non inscrits</h2>
            {% if session.stagiaires | length == session.nbrePlace %}
                <p>Plus de place</p>
            {% else %}
                {% for stagiaire in nonInscrits %}
                    <form method="post" action="{{ path('show_session', { 'id': session.id }) }}">
                        <input type="hidden" name="stagiaire_id" value="{{ stagiaire.id }}">
                        <input type="hidden" name="action" value="inscrire"> <!-- Champ d'action pour l'inscription -->
                        {{ stagiaire.nom }} {{ stagiaire.prenom }}
                            <button type="submit">Ajouter</button>
                    </form>
                {% endfor %}
            {% endif %}
        </div>
        
    </div>
     <br> <br>


    <div class="module">
        <div class="modulePresent">
            <h2>Les modules présent</h2>
            {% for programme in session.programmes %}
                {{ programme.module.intitulee }} dure {{ programme.nbJours }} jours <br>
            {% endfor %}
        </div>
        <div class="moduleDispo">
            <h2>Tout les modules disponibles</h2>
            {% for module in moduleDispo %}
                {{ module.intitulee}}
            {% endfor %}
        </div>
    </div>

      

{% endblock %}