{% extends 'base.html.twig' %}

{% block title %}Liste des Sessions{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ asset('css/templateCSS/detailsSession.css') }}">
{% endblock %}

{% block body %}


<h1>Session {{ session.nom }}</h1>
<table>
    <thead>
        <tr>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Nombre de places</th>
            <th>Places réservées</th>
            <th>Nombre de places restantes</th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>{{ session.dateDebut|date("d-m-Y") }}</td>
            <td>{{ session.dateFin|date("d-m-Y") }}</td>
            <td>{{ session.nbrePlace }}</td>
            <td>{{ session.getNbrePlacesReservees() }}</td>
            <td>{{ session.getNbrePlacesRestantes() }}</td>
            
        </tbody>
    </table>

    <div class="container">
        <div class="stagiaire">
            <div class="stagiaireInscrit">
            {% for message in app.flashes('success-message') %}
                <div id="success-message">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error-message') %}
                {{ message }}
            {% endfor %}

                <h2>La liste des stagiaires inscrits</h2>
                {% for stagiaire in session.stagiaires %}
                    <li>{{ stagiaire }}<a href="{{ path('remove_stagiaire', {'session': session.id, 'stagiaire': stagiaire.id}) }}"><i class="fa-solid fa-circle-minus"></i></a></li> 
                {% endfor %}
            </div>
            <div class="stagiaireNonInscrit">
                <h2>La liste des non inscrit</h3>
                    {% if session.stagiaires | length == session.nbrePlace %}
                        <p id="noPlace">Plus de place disponible <i class="fa-solid fa-xmark"></i></p>
                        {% else %}
                            {% for stagiaire in nonInscrits %}
                                <li>{{ stagiaire }}<a href="{{ path('add_stagiaire', {'session': session.id, 'stagiaire': stagiaire.id}) }}">
                                        <strong><i class="fa-solid fa-circle-plus"></i></strong>
                                    </a> </li>
                        {% endfor %}
                    {% endif %}
            </div>
        </div> 


        <div class="module">
            <div class="modulePresent">
                {% for message in app.flashes('success-module') %}
                    <div id="success-module">{{ message }}</div>
                {% endfor %}
                <h2>Les modules présent</h2>
                {% for programme in session.programmes %}
                    <li>{{ programme.module.intitulee }} dure {{ programme.nbJours }} jours<a href="{{ path('remove_module_session', {'id': session.id, 'programme': programme.id}) }}">
                        <i class="fa-solid fa-circle-minus"></i></li></a>
                {% endfor %}
            </div>
            <div class="moduleDispo">
                <h2>Modules disponibles</h2>
                {% for module in moduleDispo %}
                    {{ module.intitulee}} <br>
                {% endfor %}
            </div>
            <div class="ajoutModule">
                <h2>Ajouter des modules</h2>
                 {{ form_start(formAddModule, {'attr': {'action': path('add_module_session', {'id': session.id}), 'method': 'POST'}}) }}  
                {# {{ form_row(formAddModule.session) }} #}
                {{ form_row(formAddModule.module) }}
                {{ form_row(formAddModule.nbJours) }}
                {{ form_end(formAddModule) }}
            </div>
        </div>

        {# {{ dump(formAddModule) }} #}
    </div>
      

{% endblock %}