{% extends 'base.html.twig' %}

{% block title %}Liste des Sessions{% endblock %}

{% block body %}
    <h1>Session {{ session.nom }}</h1>

    {{ session.dateDebut|date("d-m-Y") }} <br>
    {{ session.dateFin|date("d-m-Y") }}<br>
    {{ session.nbrePlace }}<br>
    {{ session.getNbrePlacesReservees() }}<br>
    {{ session.getNbrePlacesRestantes() }}<br>

    <h2>La liste des stagiaires inscrits</h2>
    {% for stagiaire in session.stagiaires %}
        {{ stagiaire }} <br>
    {% endfor %}

    {% for programme in session.programmes %}
        {{ programme.module.intitulee }} dure {{ programme.nbJours }} jours <br>
    {% endfor %}


{% endblock %}