{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('css/templateCSS/module/index.css') }}">
{% endblock %}

{% block body %}
{# message de creation #}
{% for message in app.flashes('succes-createModule') %}
    <div class="succes-createModule">
        {{ message }}
    </div>
{% endfor %} 

{# message de suppression d'un module #}
{% for message in app.flashes('success-remove-module') %}
    <div class="success-remove-module">
        {{ message }}
    </div>
{% endfor %} 

<div class="module"> 
    <h1>Liste des modules</h1> <a href="{{ path('create_module') }}">Creer un nouveau module</a>
</div>


  
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Détails programme</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for module in modules %}
            <tr>
                <td>{{ module.intitulee }}</td>
                <td>{{ module.detailsProgramme }}</td>
                <td><a class="remove" href="{{ path('remove_module', {'id': module.id}) }}"><i class="fa-solid fa-delete-left"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
